.wrapper {
  border-radius: 10px;
  background-color: #eceff8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.checkbox {
  width: 20px;
}

.todo {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.todo_done {
  width: 380px;
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}

.title,
.changeTitle {
  margin-bottom: 10px;
}

.content,
.changeContent {
  color: gray;
  font-size: 13px;
}

.date {
  color: gray;
}

.modifybtn {
  margin-right: 10px;
}

.modifybtn,
.deletebtn {
  height: 35px;
  background-color: #dde0eb;
  border: none;
  border-radius: 5px;
}

.modifybtn:hover,
.deletebtn:hover {
  background-color: #b3c0e2;
}

.modifybtn:active,
.deletebtn:active {
  background-color: #8294c4;
}

.changeTitle,
.changeContent {
  border: none;
  border-bottom: 1px solid #8294c4;
  background-color: #eceff8;
}

.changeTitle {
  font-size: 16px;
}

.changeTitle:focus,
.changeContent:focus {
  outline: none;
}
