.App {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 30px;
}

.part1 {
  width: 50%;
}

.part2 {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }
  .part1 {
    width: 100%;
  }

  .part2 {
    width: 100%;
  }
}
